In [57]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re

In [ ]:
data = {
    "city": [
        "London","Tokyo","Oslo","Tokyo","New York","Osaka",
        "Boston","Cairo","Toronto","Tokyo","Chicago","Monaco",
        "Doha","Kyoto","Moscow","Moscow","Rome","Houston","Oslo","Boston"
    ],
    "age": [
        22, 34, 28, 30, 30, 40,
        27, 32, 35, 31, 29, 31,
        25, 38, 33, 26, 26, 24, 29, 33
    ],
    "score": [
        80,90,85,87,88,95,
        70,65,78,92,82,91,
        75,60,99,77,55,73,84,88
    ]
}

df = pd.DataFrame(data)

TypeError: Must provide 'func' or tuples of '(column, aggfunc).